# 忽略环境配置文件
.env                # 环境变量文件

# IDE and Editor files
.vscode
.vscode/
**/.vscode/
**/.vscode/**

# IDE settings
.idea/              # JetBrains IDE 配置

# 忽略系统自动生成的文件
.DS_Store           # macOS 系统文件
Thumbs.db           # Windows 缩略图缓存
desktop.ini         # Windows 文件夹配置