docker==6.0.0           # Docker SDK for Python，用于与 Docker 容器交互
python-dotenv==0.21.0   # 加载环境变量（如 Docker 主机配置等）
celery==5.2.7           # 任务队列，用于处理异步任务（如启动多个容器等）


# Web 框架核心
Flask==2.1.2                # Web 应用框架
flask-restx==0.5.1          # RESTful API 支持



# 数据库相关
Flask-SQLAlchemy==2.5.1     # ORM 框架，用于操作数据库
sqlalchemy==1.4.46          # SQL 框架，数据库底层支持
PyMySQL==1.0.2              # MySQL 数据库驱动
Flask-Migrate==4.1.0        # 数据库迁移工具


# 安全与认证
Werkzeug==2.1.2             # 密码哈希、安全工具
PyJWT==2.3.0                # JWT 令牌生成与验证
flask-jwt-extended==4.4.4   # Flask JWT 扩展
email-validator==1.3.1      # 邮箱格式验证

# 跨域与网络
Flask-Cors==3.0.10          # 处理跨域资源共享

# 开发与调试工具
pytest==7.1.1               # 单元测试框架
coverage==6.3.2             # 代码覆盖率分析
colorlog==6.7.0             # 带颜色的日志输出
python-json-logger==2.0.7   # JSON格式日志输出

# OAuth and API
requests-oauthlib==1.3.1    # OAuth 1.0 and 2.0 support
requests==2.31.0            # HTTP requests
